.con {
  min-height: 400px;
  background-image: url("pic1.jpg");
}
.in-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 50px 70px; */
}
.para1 {
  text-align: start !important;
}
.intro-img {
  height: 300px;
  width: 300px;
}
