.intro{
    display: flex;
    justify-content: center;  
    min-height: 100vh;
}
.Cont{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin: 16px;
}
.cont1{
    padding: 30px;
    
}
.intro-img{
    padding: 10px;
    object-fit: cover;
}
.cont1 h4{
    font-size: 60px;
    font-weight:500px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.cont1 h3{
    font-size: 30px;
    margin-bottom: 2px;
}
.title{
    height:50px;
    overflow:hidden;
}
.title-wrap{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;

}
@keyframes move {
    25%{
        transform: translateY(-50);
    }
    50%{
        transform: translateY(-100)
    }
    75%{
        transform: translateY(-150)
    }
    100%{
        transform: translateY(-200)
}
}
.title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color:#59b256;
}
@media only screen and (max-width: 768px) {
    .intro{
        min-height: 80vh;
        margin-top:70px;
    }
    .Cont{
        flex-direction: column;
    }
    .cont1 h4{
        font-size: 30px;
        font-weight:500px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .cont1 h3{
        font-size: 15px;
        margin-bottom: 2px;
    }
    .cont1{
        padding: 0px;
        /* justify-content: space-between;
         */
    }
    .intro-img{
        width:100px;
        height:100px;
        /* padding: 10px; */
        object-fit: cover;
        margin-top: 0px;
    }
    .title{
        height:100px;
        overflow:hidden;
    }
    .cont2{
        margin-top: 0px;
    }
  }
  