.Contact-con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height:80vh;

}
.con-con{
    display: flex;
flex-direction: row;
    
}
.con-con h2{
    margin: 16px;
    font-size: 20px;
}
.contact-title h2{
font-size: 30px;
}
@media only screen and (max-width: 768px) {
.Contact-con{
    min-height: 50vh;
}
.con-con{
    flex-direction: column;
}
.con-con h2{
    font-size: 10px;
}
  }
  